.btn
  position relative
  width 100%
  height 50px
  margin 10px
  width 50%
  font-size fontSize
  .btn-top
    background-color topBg
    border-radius 8px
    z-index 999
    height 40px
    &:active
      background-color topBg * 1.2
    span
      line-height 40px
      color fontColor
      width 100%
      text-align center
      &:active
        color fontColor * 1.5

  .btn-bottom
    position absolute
    width 100%
    background-color bottomBg
    border-radius 8px
    top topSize
    height 40px

  .btn-top-1
    background-color topBg1
    border-radius 8px
    z-index 999
    height 40px
    &:active
      background-color topBg1 * 1.2
    span
      line-height 40px
      color fontColor1
      width 100%
      text-align center
      &:active
        color fontColor1 * 1.5
  .btn-bottom-1
    position absolute
    width 100%
    background-color bottomBg1
    border-radius 8px
    top topSize
    height 40px
