.list
  padding 5%
  border solid 1px #f2f2f2
  border-radius 5px
  margin 5%
  text-align center
  font-size 14px
  color #000
  background #f8f9fa
  i
    display none
  &:hover
    background #f5518e
    color #fff
    i
      float right
      display block
    span
      padding-left 7%
