table
  width 100%
  height auto
  border-collapse collapse
  text-align center
  tr
    height 30px
    font-size 14px
    font-weight bold
    td,th
      border 1px solid #eeeeee
    th
      color #232323
    td
      color #787878
